.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background-color: #282c34;
  background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar {
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.nav-link {
  color: white;
}
.quote-text {
  width: 90%;
  padding-left: 20px;
  color: yellow;
  text-decoration: wavy;
}
.quote-author {
  display: block;
  padding-right: 100px;
  text-align: right;
  font-size: 15px;
  font-style: italic;
  color: white;
}
.search-results {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  -ms-scroll-translation: none;
}
.quote-text:before,
.quote-text:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 50px;
  opacity: 0.5;
}
.quote-text:before {
  content: "\201C";
  margin-right: 4px;
  margin-left: -8px;
}

.quote-text:after {
  content: "\201D";
  margin-left: 4px;
  margin-right: -8px;
}
.quote-body {
  background-image: linear-gradient(to bottom right, rgb(77, 162, 211), rgb(41, 45, 228),rgb(35, 133, 128),green);
  border-radius: 15px;
}
